
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis Datos</h2>

<form id="view-form">
    <div class="card">
        <div class="align-items-center card-header d-flex justify-content-between">
            <h5 class="fw-semibold m-0">Perfil</h5>
        </div>

        <div class="card-body row">
            <div class="col-md-3 text-center">
                <img src="~/Assets/img/avatars/1.png" class="w-px-150 h-auto rounded-circle" />
            </div>
            <div class="col-md-6" id=mis_datos></div>

        </div>
    </div>
</form>

<script>
    const urlGetPerfil = "@Url.Action("ListarPerfil", "Seguridad")";
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="~/Scripts/App.js"></script>
<script src="~/Scripts/Seguridad/Mantenimiento.js"></script>
