################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################



/Datos/bin/Debug
/Datos/obj/Debug
/Entidades/bin/Debug
/Helpers/bin/Debug
/Negocio/bin/Debug
/Negocio/obj/Debug
/Helpers/obj/Debug
/Entidades/obj/Debug
/Web_Integrador/bin
