@model IEnumerable<Entidades.Sucursal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Sector /</span>
    Mantenimiento
</h4>

<div id="view-table">
    <div class="card mb-4">
        <div class="card-body ms-auto">
            <button class="btn btn-primary" onclick="btnAction(this,'new')"><i class="bx bx-add-to-queue pe-2"></i>Nuevo Sector</button>
        </div>
    </div>

    <div class="card">
        <div class="table-responsive text-nowrap card-body">
            <table id="example" class="table table-hover" style="width:100%">
            </table>
        </div>

    </div>
</div>

<form id="view-form" style="display:none">
    <div class="card">
        <div class="align-items-center card-header d-flex justify-content-between">
            <h5 class="fw-semibold m-0">Nuevo Sector</h5>
            <div>
                <button class="btn btn-danger" type="button" onclick="btnAction(this,'cancel')"><i class="bx bx-arrow-back pe-2"></i>Cancelar</button>
                <button class="btn btn-primary ms-2" type="submit"><i class="bx bx-send pe-2"></i>Guardar</button>
            </div>
        </div>

        <div class="card-body row">
            <input type="text" class="form-control d-none val" autocomplete="off" name="id_sector" id="id" placeholder="id">
            <div class="col-12 col-md-6 col-lg-7">
                <label for="id_sucursal" class="form-label">Sucursal</label>
                <select class="form-select val" name="id_sucursal">
                    <option value="" selected>..Seleccione..</option>
                    @foreach(var item in Model)
                        {
                            <option value="@item.id_sucursal">@item.nombre</option>
                        }
                </select>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <label for="nombre_sector" class="form-label">Nombre Sector</label>
                <input type="text" class="form-control val" autocomplete="off" name="nombre_sector" placeholder="Ingrese una breve descripción">
            </div>

        </div>
    </div>
</form>


<script>
    const urlSaveSector = "@Url.Action("RegistrarSector", "Sector")",
          urlGetSector="@Url.Action("ListarSectores", "Sector")";
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script src="~/Scripts/App.js"></script>
<script src="~/Scripts/Sector/Mantenimiento.js"></script>